/* /css/global/formularios.css
 *
 * Contiene los estilos basicos para los formularios antes de que se apliquen los
 * estilos del template, permite la correcta colocacion del formulario sin afectar
 * el diseño.
 * Los cambios personalizados se realizan en /css/templates/$template/styles.css
 *
 * @author  Antonio Sánchez uresti
 * @email   antsanchez@gmail.com
 */

/* @section: Estilos del formulario basados en medidas absolutas */
.clear {
  clear: both;
}

.formulario {
  background-color: #cccccc;
  margin: 0px 0 15px 0;
  padding: 0 0 15px 0;
}

  .formulario h1 {
    background-color: #333333;
    color: white;
    font-size: 1.8em;
    margin: 0 auto;
  }

  .formulario h2 {
    clear: both;
    float: left;
    margin: 10px 5px 5px;
    padding: 0 5px;
    width: 96%;
  }

  .formulario .area  { /* Compatibilidad con el marcado existente */
    float: left;
    margin: 5px 10px 0 10px;
    width: 160px;
  }

  .formulario > .field {
    float: left;
    margin: 5px 10px 0 10px;
    width: 160px;
  }

  .formulario .label {
    font-size: 1.0em;
    font-weight: bold;
    width: 100%
  }

  .formulario .field {
    /* min-height: 23px; /**/
    position: relative;
    width: 100%;
  }

  .formulario .cols01  { width:  40px; }
  .formulario .cols02  { width: 100px; }
  .formulario .cols03  { width: 160px; }
  .formulario .cols04  { width: 220px; }
  .formulario .cols05  { width: 280px; }
  .formulario .cols06  { width: 340px; }
  .formulario .cols07  { width: 400px; }
  .formulario .cols08  { width: 460px; }
  .formulario .cols09  { width: 520px; }
  .formulario .cols10  { width: 580px; }
  .formulario .cols11  { width: 640px; }
  .formulario .cols12  { width: 700px; }

  .formulario .sexto   { width: 100px; }
  .formulario .single  { width: 160px; }
  .formulario .doble   { width: 340px; }
  .formulario .triple  { width: 520px; }

  .formulario .quarter { width: 160px; }
  .formulario .half    { width: 340px; }
  .formulario .tercio  { width: 220px; }
  .formulario .tercio2 { width: 460px; }
  .formulario .full    { width: 700px; }

  .formulario .control {
    background-color: #333333;
    clear: both;
    float: left;
    margin: 10px 10px 0;
    min-height: 2em;
    overflow: hidden;
    padding: 5px 0;
    text-align: center;
    width: 700px;
  }

/* @section: Estilos de las Indicaciones */
  .formulario .hide {
    display: none;
  }

  .formulario .tarea {
    background: #CCCCCC;
    border: 1px solid #999999;
    float: left;
    margin: 5px 10px 0px 10px;
    padding: 3px 0 3px 0;
    width: 700px;
  }

  .formulario .tarea .datestamp {   /* Area para la fecha de las Indicaciones */
    float: left;
    margin: 10px 10px 10px 10px;
    width: 80px;
  }

  .formulario .tarea .date {
    color: black;
    font-size: 1.2em;
  }

  .formulario .tarea .time {
    color: black;
    margin: 0 auto;
  }

  .formulario .tarea .contenido {
    float: left;
    width: 500px;
    /* margin-left: 100px; /**/
  }

  .formulario .tarea .chk-button {
    color: black;
    float: left;
    margin: 25px 5px 0 5px;
    text-align: center;
    width: 90px;
  }

  .formulario .disabled {
    background-color: silver !important;
    border-color: gray !important;
  }

  .formulario .right {
    text-align: right
  }

  .disabled .medico,
  .disabled .chk-button,
  .disabled .date {
    display: none !important;
  }

/* Estilos de Formulario basados en Proporciones
 * full = Ocupa la totalidad del formulario
 * half = ocupa la mitad del formulario
 * tercio = Ocupa la tercera parte del formulario
 * tercio2 = Ocupa 2 tercios del formulario, solo ajusta con tercio
 * quarter = Ocupa la cuarta parte del formulario ajusta con half y quarter
 */

  .formulario #btn-holder {
    background: black;
    clear: both;
    margin: 15px 10px 0 0;
  }

  .horizontal .radio_list li {
    display: inline;
  }

  ul.radio_list {
    height: 22px;
    margin-left: 0;
  }

/* fin */


.nota {
  margin: 0 10px;
}

.formulario input[type='text'],
.formulario input[type='date'],
.formulario input[type='password'],
.formulario input[type='file'],
.formulario input[type='search'],
.formulario input[type='number'] {
  font-size: 0.9em;
  margin: 0 0 2px;
  padding: 2px 1px;
  width: 99%;
}

.formulario select {
  font-size: 0.9em;
  height: 22px;
  margin-bottom: 0px;
  width: 100%;
}

.formulario textarea  {
  width: 99%;
  font-size: 0.9em;
}

.formulario input {
  -moz-border-radius: 5px;
  -o-border-radius: 3px;
  -webkit-1order-radius: 3px;
  border: 1px solid #454555;
  background: white;
  color: black;
}

.formulario input[type='submit'],
.formulario input[type='button'] {
  font-size: .9em;
}

.formulario input[type='button']#authorize {    /* Boton que bloquea/desbloquea las Indicaciones medicas*/
  border: 2px solid black;
  font-size: 1em;
  font-weight: normal;
  padding: 5px 0;
  width: 100%;
}

/*
select {
  height: 2em;
  margin-bottom: 4px;
}  */
.formulario textarea  {
  height: 3em;
}

.control input[type="submit"]
{
  border-color: #7C7C7C #C3C3C3 #DDDDDD;
  color: #454545;
  font-weight: bold;
  padding: 3px;
  width: 50% !important;
}

.control .a-button {
  -moz-border-radius:3px 3px 3px 3px;
  /*border:1px solid #454555; */
  background-color: #F2F2F2;
  border-color:#7C7C7C #C3C3C3 #DDDDDD;
  color:#454545;
  display: block;
  font: 0.9em/1.4 tahoma,verdana,arial,helvetica,sans-serif;
  font-weight:bold;
  margin: 0 auto;
  padding: 4px;
  text-decoration: none;
  width: 49% !important;
}

#actions-menu {
  background-color: white;
  float: left;
  height: 497px;
  padding: 8px 8px 0px;
  width: 240px;
}

#actions-menu #actions-list {
  background-color: #E7E7E7;
  border: 1px inset gray;
  overflow-y: scroll;
}

#actions-body {
  /*float:left;
  margin: 0 5px;
  display: inline;
  position:relative; */
}

#actions-menu #qr-code {
  height: 147px;
  text-align: center;
  width: 240px;
}

#actions-list h3{
  margin-left: 3px;
}

/**
 * Estilos para el panel de Enfermeria
 *************************************************** */

#enfermeria {
  background-color: white;
  float: left;
  /*height: 537px;
  width: 100%; */
}

#enfermeria #roomContainer ul {
  margin-left: 0;
}

#enfermeria #roomContainer {
  /*background-color: red;*/
  border: 0px none transparent !important;
  float: left;
  height: 530px;
  width: 60px;
}

#enfermeria #camaContainer {
  background-color: cyan;
  float: left;
  height: 40px;
  width: 900px;
}

#enfermeria #graphContainer {
  float: left;
  height: 490px;
  width: 540px;
}

#enfermeria #chartContainer {
  background-color: green;
  float: left;
  height: 300px;
  width: 100%;
}

#enfermeria #controlContainer {
  background-color: orange;
  float: left;
  height: 190px;
  width: 100%;
}

#enfermeria #taskContainer {
  background-color: sienna;
  float: left;
  height: 490px;
  width: 360px;
}

#enfermeria .vtabs {
  /* border: 1px solid black; */
  border-right: 0 none transparent;
  border-left: 0 none transparent;
  float: right;
  font-size: 2em;
  /* height: 60px; */
  margin: 3px 0 3px 0;
  padding: 15px 0;
  text-align: center;
  vertical-align: middle;
  width: 100%;
}

/**
 * Clases para el plugin Quicksearch
 *************************************************************** */
/* Es la form que rodea a todo el contenido generado por el plugin */
form.quicksearch {
  border-bottom: 2px solid black;
  margin: 0 0 10px;
}

/* Campo creado por el plugin para las busquedas */
 .quicksearch .qs_input {
  -moz-border-radius: 20px;
  -o-border-radius: 20px;
  -webkit-border-radius: 20px;
  border: 1px solid black;
  margin: 0 0 5px;
  padding: 3px 9px;
  width: 30%
}

.odd {
  background-color: #C7c7c7;
}

/***
 * Clase para los links de pacientes
 *********************************************************************** */
 a.butonize {
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  -webkit-border-radius: 5px;
  /* background-color: #BF3503; */
  background-color: white;
  /* border: 2px solid #E7E7E7; */
  border: 2px solid black;
  color: black;
  font-weight: bold;
  padding: 2px 15px;
  text-decoration: none;
 }

 a.butonize:hover {
  /* border: 2px solid #BF3503; */
  color: #BF3503;
 }

 /**
  * Clases del modulo de Admision
  ********************************************************************** */
table#admision a {
  color: black;
  display: block;
  /*font-weight: bold; /**/
  /*margin: 3px 0;*/
  padding: 3px 0 3px 3px;
  text-decoration: none;
}

table#admision a:hover {
  color: #666666;
}

/**
 * Clases para los tipos de historia Clinica
 ************************************************************************ */
.modulelist {
  padding:1em;
  margin: 0 0 1em;
  width:90%;
}

.modulelist li {
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  -webkit-border-radius: 5px;
  cursor: move;
  list-style: none outside none;
  margin: 2px 0;
  padding: 5px 2px 2px 20px;
}

/**
 * Clases para la historia Clinica
 */
.report {
  background-color: white;
  border: 1px solid black;
  margin-bottom: 15px;
}

  .report h3 {
    display: inline;
  }

/* CSS Tabs is licensed under Creative Commons Attribution 3.0 - http://creativecommons.org/licenses/by/3.0/
 * http://unraveled.com/publications/css_tabs/
/* begin css tabs */

ul#navTabs { /* general settings */
  text-align: center; /* set to left, right or center */
  margin: 1em 0 1em 0; /* set margins as desired */
  font: bold 11px verdana, arial, sans-serif; /* set font as desired */
  border-bottom: 2px solid #888; /* set border COLOR as desired */
  list-style-type: none;
  padding: 3px 10px 3px 10px; /* THIRD number must change with respect to padding-top (X) below */
  box-shadow: 10px 10px 10px #999;
}

ul#navTabs li { /* do not change */
  display: inline;
}

ul#navTabs li.active { /* settings for selected tab */
  border-bottom: 1px solid #E7E7E7; /* set border color to page background color */
  background-color: #E7E7E7; /* set background color to match above border color */
}

ul#navTabs li.active a { /* settings for selected tab link */
  background-color: #E7E7E7; /* set selected tab background color as desired */
  color: #000; /* set selected tab link color as desired */
  position: relative;
  top: 2px;
  padding-top: 6px; /* must change with respect to padding (X) above and below */
}

ul#navTabs li a { /* settings for all tab links */
  border: 2px solid #888; /* set border COLOR as desired; usually matches border color specified in #tabnav */
  padding: 3px 20px; /* set padding (tab size) as desired; FIRST number must change with respect to padding-top (X) above */
  background-color: #888; /* set unselected tab background color as desired */
  color: white; /* set unselected tab link color as desired */
  margin-right: 0px; /* set additional spacing between tabs as desired */
  text-decoration: none;
  border-bottom: none !important;
}

ul#navTabs a:hover { /* settings for hover effect */
  background: #E7E7E7; /* set desired hover color */
  color: black;
}

#headtable {
  background: #E1E279;
  padding: 5px;
  Border-radius: 5px 5px 0 0;
  border: 1px solid;
  border-color: #8DBBC8;
  }

/* end css tabs */

#camasPanel {
/*
  border-left: 2px solid #888;
  border-bottom: 2px solid #888;
  border-right: 2px solid #888; */
  margin-bottom: 25px;
}

/* @section: Estilo de las alertas */
.flash_alert {
  border-radius: 5px;
  background: white;
  border: blue solid 1px;
  color: blue;
  font-size: 1.2em;
  padding: 5px;
}

#profile_alert {
  background: yellow;
  border: black solid 1px;
  border-radius: 5px;
  color: black;
  font-size: 1.1em;
  font-variant: small-caps;
  padding: 5px 2px;
  display: none;
  margin-bottom: 5px;
  text-align: center;
}

#profile_alert a {
  color: blue;
  text-decoration: none;
}

#profile_alert a:hover {
  text-decoration: underline;
}

/* Estilos de error en los formularios */
  ul.error_list {
    margin-left: 0px;
    position: absolute;
    top: -20px;
    width: 99%;
  }

  ul.error_list li {
    background: #edf38e;
    border-radius: 3px;
    border: 1px solid #bf2222;
    box-shadow: 5px 5px 10px #666;
    color: #bf2222;
 /*   float:right;*/
    float:left;	
    font-weight: bold;
    padding: 1px 4px;
  }


select,
input[type=text],
input[type=password],
input[type=submit],
textarea {
    color: #333333;
    font: 0.9em/1.4 tahoma,verdana,arial,helvetica,sans-serif;
    /*width: 99%; */
}

/************************************************************************
 * Botones 3D en menu css
 *************************************************************************/
/* Mientras podemos hacer botones con jQueryUI usamos css */

  .menubar a {
    float: left; /**/
    /* font-size: 110%; /**/
    font-weight: bold;
    border-top: 1px solid #999;
    border-left: 1px solid #999;
    border-right: 1px solid #333;
    border-bottom: 1px solid #333;
    border-radius: 5px;
    color: #333;
    margin-right: 3px;
    text-decoration: none;
    width: auto;
  }

  .menubar a:hover {
    border-top:1px solid #333;
    border-left:1px solid #333;
    border-right:1px solid #999;
    border-bottom:1px solid #999;
    color:#333;
  }

  .menubar a span {
    background:#d4d0c8 url(/images/bg_btn.gif) repeat-x;
    border-radius: 5px;
    float:left; /**/
    /* line-height:24px; /**/
    height:15px;
    padding: 1px 10px;
    border-right:1px solid #777;
    border-bottom:1px solid #777;
  }

  .menubar a:hover span{
    border:none;
    border-top:1px solid #777;
    border-left:1px solid #777;
    background:#d4d0c8 url(/images/bg_btnOver.gif) repeat-x;
    cursor:pointer;
  }

/* ********************************************************************
 * Subframework de posicionamiento
 * Permite definir un area con posicionamiento especifico sin alterar
 * el resto de los elementos
 ******************************************************************** */

.fixed.cols12, .fixed.cols24 { width: 720px; }
.fixed div, .fluid div { float: left; padding-left: 10px; padding-right: 10px; width: 100%; }

/****************** Clases para 12 columnas ***************************/
.fixed.cols12 .cols01 { width: 40px; }
.fixed.cols12 .cols02 { width: 100px; }
.fixed.cols12 .cols03 { width: 160px; }
.fixed.cols12 .cols04 { width: 220px; }
.fixed.cols12 .cols05 { width: 280px; }
.fixed.cols12 .cols06 { width: 340px; }
.fixed.cols12 .cols07 { width: 400px; }
.fixed.cols12 .cols08 { width: 460px; }
.fixed.cols12 .cols09 { width: 520px; }
.fixed.cols12 .cols10 { width: 580px; }
.fixed.cols12 .cols11 { width: 640px; }
.fixed.cols12 .cols12 { width: 700px; }

.fixed input,
.fixed select { width: 100% }

/****************** Clases para 24 columnas ***************************/
.fixed.cols24 .cols01 { width: 10px; }
.fixed.cols24 .cols02 { width: 40px; }
.fixed.cols24 .cols03 { width: 70px; }
.fixed.cols24 .cols04 { width: 100px; }
.fixed.cols24 .cols05 { width: 130px; }
.fixed.cols24 .cols06 { width: 160px; }
.fixed.cols24 .cols07 { width: 190px; }
.fixed.cols24 .cols08 { width: 220px; }
.fixed.cols24 .cols09 { width: 250px; }
.fixed.cols24 .cols10 { width: 280px; }
.fixed.cols24 .cols11 { width: 310px; }
.fixed.cols24 .cols12 { width: 340px; }
.fixed.cols24 .cols13 { width: 370px; }
.fixed.cols24 .cols14 { width: 400px; }
.fixed.cols24 .cols15 { width: 430px; }
.fixed.cols24 .cols16 { width: 460px; }
.fixed.cols24 .cols17 { width: 490px; }
.fixed.cols24 .cols18 { width: 520px; }
.fixed.cols24 .cols19 { width: 550px; }
.fixed.cols24 .cols20 { width: 580px; }
.fixed.cols24 .cols21 { width: 610px; }
.fixed.cols24 .cols22 { width: 640px; }
.fixed.cols24 .cols23 { width: 670px; }
.fixed.cols24 .cols24 { width: 700px; }


.fluid.cols12, .fluid.cols24 { width: 720px; }
.fluid div, .fluid div { float: left; padding-left: 1%; padding-right: 1%; width: 100%; }

/****************** Clases para 12 columnas ***************************/
.fluid.cols12 .cols01 { width: 6.33%; }
.fluid.cols12 .cols02 { width: 14.67%; }
.fluid.cols12 .cols03 { width: 23.00%; }
.fluid.cols12 .cols04 { width: 31.33% }
.fluid.cols12 .cols05 { width: 39.67% }
.fluid.cols12 .cols06 { width: 48.00% }
.fluid.cols12 .cols07 { width: 56.33% }
.fluid.cols12 .cols08 { width: 64.67% }
.fluid.cols12 .cols09 { width: 73.00% }
.fluid.cols12 .cols10 { width: 81.33% }
.fluid.cols12 .cols11 { width: 89.67% }
.fluid.cols12 .cols12 { width: 98.00% }

.fluid input,
.fluid select { width: 100% }

/****************** Clases para 24 columnas ***************************/
.fluid.cols24 .cols01 { width: 2.17%; }
.fluid.cols24 .cols02 { width: 6.33%; }
.fluid.cols24 .cols03 { width: 10.50%; }
.fluid.cols24 .cols04 { width: 14.67%; }
.fluid.cols24 .cols05 { width: 18.83%; }
.fluid.cols24 .cols06 { width: 23.00%; }
.fluid.cols24 .cols07 { width: 27.17%; }
.fluid.cols24 .cols08 { width: 31.33%; }
.fluid.cols24 .cols09 { width: 35.50%; }
.fluid.cols24 .cols10 { width: 39.67%; }
.fluid.cols24 .cols11 { width: 43.83%; }
.fluid.cols24 .cols12 { width: 48.00%; }
.fluid.cols24 .cols13 { width: 52.17%; }
.fluid.cols24 .cols14 { width: 56.33%; }
.fluid.cols24 .cols15 { width: 60.50%; }
.fluid.cols24 .cols16 { width: 64.67%; }
.fluid.cols24 .cols17 { width: 68.83%; }
.fluid.cols24 .cols18 { width: 73.00%; }
.fluid.cols24 .cols19 { width: 77.17%; }
.fluid.cols24 .cols20 { width: 81.33%; }
.fluid.cols24 .cols21 { width: 85.50%; }
.fluid.cols24 .cols22 { width: 89.67%; }
.fluid.cols24 .cols23 { width: 93.83%; }
.fluid.cols24 .cols24 { width: 98.00%; }

/****************************************************
 * Estilos del Id de Usuario
 ****************************************************/
.flash_notice
{
  font-size: 20px;
  font-weight: 300; 
  background-color:#FFFF99;
  border: 1px solid #999;
  border-radius: 10px;
  box-shadow: 3px 3px 3px #999999;
  margin-bottom: 10px;
  padding: 5px;
  text-align: justify;
  width: 194px !important;

}
#userId {
  background: white;
  border: 1px solid #999;
  border-radius: 10px;
  box-shadow: 3px 3px 3px #999999;
  margin-bottom: 10px;
  padding: 5px;
  text-align: justify;
  width: 194px !important;
}

  #userId #name {
    color: #666666;
    font-size: 1.5em;
    font-weight: bold;
  }

  #userId a {
    color: blue;
    font-size: .99em;
    margin: 0 10px 0 0;
    text-decoration: none;
  }
