/* ~~~~~~~~~ generic ~~~~~~~~~~ */

html, body, address, blockquote, div, dl, form, h1, h2, h3, h4, h5, h6, ol, p, pre, table, ul,
dd, dt, li, tbody, td, tfoot, th, thead, tr, button, del, ins, map, object,
a, abbr, acronym, b, bdo, big, br, cite, code, dfn, em, i, img, kbd, q, samp, small, span,
strong, sub, sup, tt, var, legend, fieldset {
  margin: 0;
  padding: 0;
}

img {
  vertical-align: bottom;
}
img, fieldset {
  border: 0;
}
html {
  /* overflow-y: scroll; */
}
header, nav, section, article, figure, aside, footer {
  display: block;
}

ul, ol {
  list-style: none outside none;
}
